@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-black-12: #121212;
  --color-black-18: #181818;
  --color-black-21: #212121;
  --color-black-32: #323232;
  --color-black-38: #383838;
  --color-black-47: #474747;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-aa: #AAAAAA;
  --color-blue: #3DA6FF;
  --color-thumb-empty: #C4C4C4;

  /* Space */
  --video-space-smail: 8px;
  --video-space-base: 10px;

  /* Radius */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
}

.white {
  color: var(--color-white);
}

.header {
  display: flex;
  justify-content: center;
}

.header--actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Home Page */

.page-home {}
.page-home--video--container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.page-home--filter-container {
  margin-bottom: 25px;
}
.home-video__filter {
  display: flex;
  gap: 12px;
}
.home-video__list {
  display: flex;
  gap: 14px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid var(--color-black-38);
}

/* Video Component */

.video {
  width: 242px;
  display: flex;
  flex-direction: column;
  gap: var(--video-space-base);
}

.video__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-thumb-empty);
}

.video__thumbnail {
  background-color: var(--color-thumb-empty);
  width: 242px;
  height: 136px;
}

.video__information {
  display: flex;
  gap: var(--video-space-base);
}

/* Video Details  */

.video__details {
  width: 178px;
}

.video__details--title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 7px;
  line-height: 17px;
  /* https://forum.figma.com/t/letter-spacing-should-not-be-percentage-based/3062 */
  /* 0.01em is indeed 1%  */
  letter-spacing: -0.05em;
}

/* video details channel */

.video__details--channel {
  display: flex;
  gap: 4px;
}
.video__details--channel-name {
  color: var(--color-gray-aa);
  letter-spacing: -0.02em;
  line-height: 17px;
}

/* video details views */

.video__details--views {
  display: flex;
  gap: 5px;
}

.video__details--views-video {
  color: var(--color-gray-aa);
  letter-spacing: -0.10em;
  line-height: 17px;
}
.video__details--views-publication-date {
  color: var(--color-gray-aa);
  letter-spacing: -0.05em;
  line-height: 17px;
}

/* Filter Category */

.filter-category {
  padding: 8px 12px;
  background-color: var(--color-black-38);
  color: var(--color-white);
  border: 1px solid var(--color-black-47);
  width: fit-content;
  border-radius: 25px;
}

.filter-category.active {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Search Bar */

.search-bar {
  display: flex;
  width: 500px;
}

.search-bar__input {
  width: 100%;
  color: var(--color-gray-aa);
  background-color: var(--color-black-18);
  border: 1px solid var(--color-black-32);
  padding: 10px;
  outline: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-bar__btn {
  border: none;
  background-color: var(--color-black-32);
  color: var(--color-white);
  padding: 10px 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Search Area */

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--video-space-smail);
}

/* Mic */

.search-bar-mic {
  width: 36px;
  height: 36px;
  background-color: var(--color-black-18);
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}